@{
    ViewBag.Title = "Information";
}



ЧУП САШЕНЬКА <br>  

УНП 590781834
<br>  
                                      
Пн-Сб: 8:00-20:00 
Вс: выходной
                                     
                                     
<br> 


<h>Обратная связь: ganevichandrew@gmail.com </h> 
<i class="fas fa-envelope-square"></i> <br>
                                     
<br> 

г. Гродно, ул. Репина 23<br> 

00-00-00 Velcom, МТС 00-00-00 <br> 
                                      
                                                           
                                      
                                      
<h>Наши социальные сети:  </h>  <br>          
<a class="link" href= "https://www.instagram.com"> <i class="fa fa-camera-retro fa-1x"></i></a>
<a class="link" href="https://www.instagram.com"> <i class="fab fa-vk fa-1x"></i></a>


