@{
    ViewBag.Title = "Price";
}

<h2 align="center">Price</h2>

<div id="Headerwrap">
    <div class="container-fluid lol"> 
        <div class="row centered konlonka-Kontainer">
            
            <div class="col-lg-4 kk1">
                ПРАЙС:
                <div class="row alert-info"  >
                    <div class="btn-group" role="group" aria-label="Basic example">
                                     
                        <table class="table_price">
                            <tr>
                                <td>Стрижка мужская</td>
                                <td>7p</td>
                            </tr>
                                           
                            <tr>
                                <td>Стрижка модельная «ножницами»</td>
                                <td>10p</td>                                   
                            </tr>
                                        
                            <tr>
                                <td>Стрижка с мытьем</td>
                                <td>8p</td>
                            </tr>
                                       
                            <tr>
                                <td>Стрижка детская </td>
                                <td>5p</td>        
                                        
                            </tr>

                            <tr>
                                <td>Стрижка наголо  </td>
                                <td>4p</td>        
                                          
                            </tr>
                                       
                            <tr>
                                <td>Стрижка усов</td>
                                <td>3p</td>        
                                       
                            </tr>
                                       
                            <tr>
                                <td>Стрижка бороды</td>
                                <td>5p</td>        
                                          
                            </tr>
                                       
                            <tr>
                                <td>Окантовка волос </td>
                                <td>3p</td>        
                                            
                            </tr>
                                       
                            <tr>
                                <td>Укладка </td>
                                <td>5p</td>        
                                                
                            </tr>
                                       
                            <tr>
                                <td>Камуфляж седины + стрижка </td>
                                <td>20p</td>        
                                             
                            </tr>
                                       
                            <tr>
                                <td>Стрижка модельная кор. волос</td>
                                <td>10p</td>        
                                                
                            </tr>
                                       
                            <tr>
                                <td>Стрижка модельная удл. волос</td>
                                <td>12p</td>        
                                              
                            </tr>
                                       
                            <tr>
                                <td>Стрижка модельная дл. волос</td>
                                <td>14p</td>        
                                             
                            </tr>
                                       
                            <tr>
                                <td>Укладка кор. волос</td>
                                <td>11p</td>        
                                             
                            </tr>
                                       
                            <tr>
                                <td>Укладка удл. волос</td>
                                <td>13p</td>        
                                               
                            </tr>
                                       
                            <tr>
                                <td>Укладка дл. волос</td>
                                <td>15p</td>                                                      
                            </tr>

                            <tr>
                                <td>Прическа</td>
                                <td>10-55p</td>                                                     
                            </tr>
                                      
                            <tr>
                                <td>Окраска химическим</td>
                                <td>12p</td>                      
                            </tr>
                                        
                            <tr>
                                <td>Мелирование кор.</td>
                                <td>30p</td>        
                                              
                            </tr>
                                       
                            <tr>
                                <td>Мелирование удл.-дл.</td>
                                <td>40-50p</td>        
                                        
                            </tr>
                                       
                            <tr>
                                <td>Колорирование</td>
                                <td>50p</td>        
                                            
                            </tr>
                                       
                            <tr>
                            <td>Сложное окрашивание </td>
                            <td>50p</td>        
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>